.container {
  display: flex;
  justify-content: space-between;
  span,
  span > svg {
    width: 34px;
    height: 34px;
  }

  .box {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      background-color: #d9d9d9;
    }
  }
}
