.container {
  display: flex;
  justify-content: center;
  height: 100vh;

  .scroll {
    background-color: #fafafa;
    overflow: auto;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  ::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  section {
    background-color: white;
    max-width: 700px;
    width: 100%;
  }
}
