$border-color: #d9d9d9;

.container {
  padding: 4vh 2vw 0 2vw;

  .searchBox {
    display: flex;
    margin-bottom: 2vh;

    .searchIcon {
      display: flex;
      width: 8vh;
      height: 6vh;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      border-left: 1px solid $border-color;
      border-radius: 3vh 0 0 3vh;
      font-size: 24px;
      align-items: center;
      justify-content: center;
      background-color: white;
    }

    .input {
      height: 6vh;
      border-radius: 0 3vh 3vh 0;
      border-top: 1px solid $border-color;
      border-right: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
      background-color: white;
      font-size: 20px;
    }
  }
}
